<div class="d-flex flex-column gap-2">
    <div class="d-flex gap-2">
        <div class="me-auto fw-bold">@Header</div>
        <div class="ms-auto d-flex flex-row gap-2 small">
            @PrimaryValue
        </div>
    </div>
    <div class="d-flex flex-row gap-2">
        <div>@SecondaryHeader</div>
    </div>
    <div class="d-flex">
        <div class="ms-auto d-flex gap-2">
            @ButtonBar
        </div>
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment? Header { get; set; }
    [Parameter]
    public RenderFragment? PrimaryValue { get; set; }
    [Parameter]
    public RenderFragment? SecondaryHeader { get; set; }
    [Parameter]
    public RenderFragment? ButtonBar { get; set; }
}