<div class="flex flex-col gap-2">
    <div class="flex gap-2">
        <div class="mr-auto font-bold">@Header</div>
        <div class="ml-auto flex gap-2">
            @PrimaryValue
        </div>
    </div>
    <div class="flex gap-2">
        <div>@SecondaryHeader</div>
    </div>
    <div class="flex">
        <div class="ml-auto flex gap-2">
            @ButtonBar
        </div>
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment? Header { get; set; }
    [Parameter]
    public RenderFragment? PrimaryValue { get; set; }
    [Parameter]
    public RenderFragment? SecondaryHeader { get; set; }
    [Parameter]
    public RenderFragment? ButtonBar { get; set; }
}