@page "/Expenses/Add"
@using AccountingForDentists.Components.Pages.Expenses.Shared
@using AccountingForDentists.Infrastructure
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<AccountingContext> contextFactory
@inject NavigationManager NavigationManager

<PageTitle>Add New Expense</PageTitle>

<Form Title="Add New Expense" FormName="add-expense-form" ActionUri="/Expenses/Post/Add" AllowRemoveAttachment="false"
    ExpenseEntity="null" SellerNames="SellerNames">
</Form>


@code {
    [Parameter]
    public required Guid EntityId { get; set; }
    List<string>? SellerNames { get; set; } = [];
    Models.ExpensesEntity? ExpenseEntity { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadSellers();
        await base.OnInitializedAsync();
    }

    private async Task LoadSellers()
    {
        using var context = await contextFactory.CreateDbContextAsync();
        SellerNames = await context.Expenses.Select(x => x.BusinessName).Distinct().ToListAsync();
    }
}