@page "/Expenses/Delete/{EntityId:guid}"
@using AccountingForDentists.Infrastructure
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<AccountingContext> contextFactory

<PageTitle>Delete Expense</PageTitle>

@if (error)
{
    <div class="alert alert-error ml-auto mr-auto grow my-2 px-5 w-lg justify-center">There was an error deleting this
        expense.
        Please try again
        later.</div>
}

<FormComponent Title="Delete Expense" FormName="delete-expense-form" ReturnUri="/Expenses" Disabled="true"
    ActionUri=@($"/Expenses/Post/Delete/{ExpenseEntity?.ExpensesId.ToString()}") AllowRemoveAttachment=false    ExpenseEntity="ExpenseEntity" SellerNames=[] ActionText="Delete"></FormComponent>


@code {
    [Parameter]
    public required Guid EntityId { get; set; }

    [SupplyParameterFromQuery]
    bool error { get; set; } = false;

    public Models.ExpensesEntity? ExpenseEntity { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadExpenseData();
        await base.OnInitializedAsync();
    }

    private async Task LoadExpenseData()
    {
        using var context = await contextFactory.CreateDbContextAsync();
        ExpenseEntity = await context.Expenses
        .Include(x => x.DateReference)
        .Include(x => x.Attachment)
        .FirstOrDefaultAsync(e => e.ExpensesId == EntityId);

        if (ExpenseEntity is null)
        {
            // Handle the case where the entity is not found
            throw new InvalidOperationException("Expense entity not found.");
        }
    }
}