@page "/Expenses/Edit/{EntityGuidString}"
@rendermode InteractiveServer

@using AccountingForDentists.Components.Pages.Expenses.Shared
<Form InitialModel="@Initial" OnCancel="Cancel" OnSubmit="Submit"></Form>

@code {

}