@page "/Expenses/Edit/{EntityId:guid}"
@using AccountingForDentists.Infrastructure
@using Microsoft.EntityFrameworkCore
@using AccountingForDentists.Components.Pages.Expenses.Shared

@inject IDbContextFactory<AccountingContext> contextFactory

<Form Title="Edit Expense" FormName="edit-expense-form"
    ActionUri=@($"/Expenses/Post/Edit/{ExpenseEntity?.ExpensesId.ToString()}") AllowRemoveAttachment=true    ExpenseEntity="ExpenseEntity" SellerNames="SellerNames"></Form>


@code {
    [Parameter]
    public required Guid EntityId { get; set; }

    List<string>? SellerNames { get; set; } = [];
    Models.ExpensesEntity? ExpenseEntity { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadSellers();
        await LoadExpenseData();
        await base.OnInitializedAsync();
    }

    private async Task LoadSellers()
    {
        using var context = await contextFactory.CreateDbContextAsync();
        SellerNames = await context.Expenses.Select(x => x.BusinessName).Distinct().ToListAsync();
    }
    private async Task LoadExpenseData()
    {
        using var context = await contextFactory.CreateDbContextAsync();
        ExpenseEntity = await context.Expenses
        .Include(x => x.DateReference)
        .Include(x => x.Attachment)
        .FirstOrDefaultAsync(e => e.ExpensesId == EntityId);

        if (ExpenseEntity is null)
        {
            // Handle the case where the entity is not found
            throw new InvalidOperationException("Expense entity not found.");
        }
    }
}