@using AccountingForDentists.Components.Pages.Expenses.Shared
@using AccountingForDentists.Components.Pages.Shared.InputDatalist
@using AccountingForDentists.Components.Pages.Shared.YearBusinessFilter
@using AccountingForDentists.Models
@rendermode InteractiveServer
<PageTitle>View Expenses</PageTitle>

<h1 class="fw-light fs-3">Expenses</h1>

@if (Error is not null)
{
    <div class="alert alert-warning" role="alert">
        @(Error)
    </div>
}

<hr />
<YearBusinessFilter @bind-SelectedFY:get="FY" @bind-SelectedFY:set="SelectFY" @bind-SelectedBusiness:get="Business"
    @bind-SelectedBusiness:set="SelectBusiness" Businesses="Businesses!" />
<hr />

@if (ExpenseEntities is null)
{
    <div class="d-flex flex-column gap-2">
        <div class="p-0 container-fluid placeholder-glow">
            <div style="height:50px" class="placeholder col-12 rounded-2"></div>
        </div>
        <div class="p-0 container-fluid placeholder-glow">
            <div style="height:150px" class="placeholder col-12 rounded-2"></div>
        </div>
        <div class="p-0 container-fluid placeholder-glow">
            <div style="height:50px" class="placeholder col-12 rounded-2"></div>
        </div>
        <div class="p-0 container-fluid placeholder-glow">
            <div style="height:50px" class="placeholder col-12 rounded-2"></div>
        </div>
    </div>
}
else
{

    @foreach (ExpensesEntity item in ExpenseEntities)
    {
        <ExpensesListItem Model="ExpensesEntityToViewModel(item)" OnEditClicked="async () => await EditExpense(item)"
            OnDownloadClicked="async () => await DownloadInvoice(item)"
            OnDeleteClicked="async () => await DeleteConfirmModal.ShowModal(item)" />
        <hr />

    }
    <table class="table">
        <thead>
            <th class="text-center" scope="col">Amount</th>
            <th class="text-center" scope="col">GST</th>
            <th class="text-center" scope="col">Total</th>
        </thead>

        <tfoot class="table-group-divider fw-bold">
            <tr>
                <td class="text-center">$@(ExpenseEntities.Sum(x => x.Amount).ToString("0.00"))</td>
                <td class="text-center">$@(ExpenseEntities.Sum(x => x.GST).ToString("0.00"))</td>
                <td class="text-center">$@(ExpenseEntities.Sum(x => x.Total).ToString("0.00"))</td>
            </tr>
        </tfoot>
    </table>

    <button class="btn btn-primary w-100" @onclick="AddExpense">Add New</button>
}


<DeleteModal @ref="DeleteConfirmModal" OnDeleteEntity="DeleteExpense" />