@if (Businesses is null)
{
    <div class="container-fluid ps-0">
        <div class="row gy-2">
            <div class="col-md-4">
                <div class="p-0 container-fluid placeholder-glow">
                    <div style="height:24px" class="placeholder col-12 rounded-2"></div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="d-flex flex-row gap-2">
                    <div class="p-0 container-fluid placeholder-glow">
                        <div style="height:24px" class="placeholder col-12 rounded-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="container-fluid ps-0">
        <div class="row gy-2">
            <div class="col-md-4">
                <div class="d-flex flex-row gap-2">
                    <div style="flex-basis:40px" class="flex-shrink-0 flex-grow-0 align-content-center">FY</div>
                    <FYOptionList class="flex-grow-1" @bind-SelectedFY:get="SelectedFY"
                        @bind-SelectedFY:set="SelectedFYChanged" />
                </div>
            </div>
            <div class="col-md-8">
                <div class="d-flex flex-row gap-2">
                    <div style="flex-basis:40px" class="flex-shrink-0 flex-grow-0 align-content-center">Business</div>
                    <OptionList class="flex-grow-1" Items="Businesses!" @bind-Selected:get="SelectedBusiness"
                        @bind-Selected:set="SelectedBusinessChanged" />
                </div>
            </div>
        </div>
    </div>
}

@code {

    [Parameter]
    public List<OptionList<string>.Option>? Businesses { get; set; }

    [Parameter]
    public int SelectedFY { get; set; }

    [Parameter]
    public EventCallback<int> SelectedFYChanged { get; set; }

    [Parameter]
    public string? SelectedBusiness { get; set; }

    [Parameter]
    public EventCallback<string?> SelectedBusinessChanged { get; set; }

}