@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<div class="flex flex-col min-h-screen">
    <NavMenu />

    <main class="content flex flex-col grow">
        @Body
    </main>
</div>