<li><a href="Sales">Sales</a></li>
@* <li>
                    <a>Parent</a>
                    <ul class="p-2">
                        <li><a>Submenu 1</a></li>
                        <li><a>Submenu 2</a></li>
                    </ul>
                </li> *@
<li><a href="Expenses">Expenses</a></li>
<li><a href="Contracts">Contracts</a></li>
<li><a href="BAS">BAS</a></li>
<li><a href=" Privacy">Privacy & Data Handling</a></li>
<li>

    <a href="About">About</a>

</li>