@using System.Reflection
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        @* <img width="32px" src="icon.webp" /> *@
        <a class="navbar-brand" href="">Accounting For Dentists</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill bi-nav-icon fs-4" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Businesses">
                <span class="bi bi-hospital-fill bi-nav-icon fs-4" aria-hidden="true"></span> Businesses
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Expenses">
                <span class="bi bi-arrow-up-circle-fill bi-nav-icon fs-4" aria-hidden="true"></span> Expenses
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Sales">
                <span class="bi bi-arrow-down-circle-fill bi-nav-icon fs-4" aria-hidden="true"></span> Sales
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Contracts">
                <span class="bi bi-coin bi-nav-icon fs-4" aria-hidden="true"></span> Contracts
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="BAS">
                <span class="bi bi-calculator-fill bi-nav-icon fs-4" aria-hidden="true"></span> BAS
            </NavLink>
        </div>

        <hr class="text-white" />

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Privacy" Match="NavLinkMatch.All">
                <span class="bi bi-shield bi-nav-icon fs-4" aria-hidden="true"></span> Privacy Policy
            </NavLink>
        </div>

        <hr class="text-white" />
        <div class="countainer-fluid">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="https://github.com/sjai013/accounting-for-dentists" target="_blank"
                    Match="NavLinkMatch.All">
                    <span class="bi bi-github bi-nav-icon fs-4" aria-hidden="true"></span> View Source
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="https://blog.accountingfordentists.com.au/" target="_blank"
                    Match="NavLinkMatch.All">
                    <span class="bi bi-book bi-nav-icon fs-4" aria-hidden="true"></span> Blog
                </NavLink>
            </div>

            <div class="ms-2 ps-4 text-white-50">
                @(version)
            </div>

            <hr class="text-white" />
        </div>
    </nav>


</div>

@code {
    static Assembly? assembly = Assembly.GetEntryAssembly();
    string version = assembly?.GetCustomAttribute<AssemblyInformationalVersionAttribute>()?.InformationalVersion ?? "";
}