<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">accounting-for-dentists</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Businesses">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Businesses
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Expenses">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Expenses
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Sales">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Sales
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ServiceFacilitiesAgreement">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Add SFA Income
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="BAS">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> BAS
            </NavLink>
        </div>
    </nav>
</div>
