@using Microsoft.AspNetCore.Components.Authorization
<div class="navbar bg-base-100 shadow-sm">
    <div class="navbar-start">
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
                </svg>
            </div>
            <ul tabindex="-1" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
                <NavigationItemsComponent />
            </ul>
        </div>
        <a class="btn btn-ghost lg:text-xl text-sm" href="/">Accounting For Dentists</a>
    </div>
    <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
            <NavigationItemsComponent />
        </ul>
    </div>
    <div class="navbar-end">
        <CascadingAuthenticationState>
            <AuthorizeView>
                <Authorized>
                    <div class="flex gap-2 items-center">
                        <div><a class="btn btn-sm btn-outline" href="/account/logout">Logout
                                <span class="hidden lg:block">@context?.User.Identity?.Name</span></a></div>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div><a class="btn btn-sm btn-outline" href="/account/login">Login</a></div>
                </NotAuthorized>
            </AuthorizeView>
        </CascadingAuthenticationState>
    </div>
</div>