<option value="@Value">@ChildContent</option>
@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    [Parameter]
    public string Value { get; set; } = string.Empty;
}