@page "/Businesses"
@using AccountingForDentists.Components.Pages.Businesses.Shared
@using AccountingForDentists.Components.Pages.Shared
@using AccountingForDentists.Components.Shared
@rendermode InteractiveServer
<h1 class="fw-light fs-3">Businesses</h1>
<hr />

<AddBusinessForm OnSaveSuccessful="BusinessListUpdated"></AddBusinessForm>
<hr />
@if (BusinessEntities is null)
{
    <div class="p-0 d-flex flex-column gap-1">
        <div class="p-0 container-fluid placeholder-glow">
            <div style="height:75px" class="placeholder col-12 rounded-2"></div>
        </div>
        <div class="p-0 container-fluid placeholder-glow">
            <div style="height:75px" class="placeholder col-12 rounded-2"></div>
        </div>
        <div class="p-0 container-fluid placeholder-glow">
            <div style="height:75px" class="placeholder col-12 rounded-2"></div>
        </div>
    </div>
}
else
{
    <ul class="list-group">
        @foreach (var item in BusinessEntities)
        {
            <li class="p-3 list-group-item fs-4 d-flex gap-2 align-items-center justify-content-between">
                <div>@item.Name</div>
                <div>
                    <button @onclick=" () => MarkDeleteBusinessItem(item)" class="btn btn-outline-dark"><i
                            class="bi bi-trash"></i></button>
                </div>

            </li>

        }

    </ul>
}
<DeleteModal @ref="DeleteConfirmModal" OnDeleteEntity="DeleteBusinessItem" />
