@page "/Contracts/Add"
@using AccountingForDentists.Components.Pages.Contract.Shared
@rendermode InteractiveServer
<h1 class="display-6">Contractual Income</h1>

<ContractIncomeForm OnSubmit="Submit"></ContractIncomeForm>