@page "/Contracts/Add"
@using AccountingForDentists.Components.Pages.Contract.Shared
@rendermode InteractiveServer
<PageTitle>Add New Contract Income</PageTitle>

<h1 class="display-6">Add New Contract Income</h1>

<Form OnSubmit="Submit" OnCancel="Cancel" />