@page "/Contracts/Delete/{EntityId:guid}"
@using AccountingForDentists.Infrastructure
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<AccountingContext> contextFactory

<PageTitle>Edit Contract Income</PageTitle>

@if (error)
{
    <div class="alert alert-error ml-auto mr-auto grow my-2 px-5 w-lg justify-center">There was an error deleting this sale.
        Please try again
        later.</div>
}


<FormComponent Title="Delete Contract Income" FormName="delete-contract-income-form" ReturnUri="/Contracts"
    Disabled=true ActionText="Delete"
    ActionUri=@($"/Contracts/Post/Delete/{ContractEntity?.ContractualAgreementId.ToString()}")
    AllowRemoveAttachment=false ContractIncomeEntity="@ContractEntity" BusinessNames="@BusinessNames"></FormComponent>

@code {
    [Parameter]
    public required Guid EntityId { get; set; }

    [SupplyParameterFromQuery]
    bool error { get; set; } = false;

    List<string>? BusinessNames { get; set; } = [];
    List<string>? SellerNames { get; set; } = [];
    Models.ContractIncomeEntity? ContractEntity { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadContractData();
        await base.OnInitializedAsync();
    }


    private async Task LoadContractData()
    {
        using var context = await contextFactory.CreateDbContextAsync();
        ContractEntity = await context.ContractIncome
        .Include(x => x.InvoiceDateReference)
        .Include(x => x.Attachment)
        .Include(x => x.SalesEntity)
        .Include(x => x.ExpensesEntity)
        .FirstOrDefaultAsync(e => e.ContractualAgreementId == EntityId);

        if (ContractEntity is null)
        {
            // Handle the case where the entity is not found
            throw new InvalidOperationException("Contract entity not found.");
        }
    }
}