@page "/Contracts/Edit2/{EntityGuidString}"
@using AccountingForDentists.Components.Pages.Contract.Shared
@rendermode InteractiveServer
<PageTitle>Edit Contract Income</PageTitle>

<h1 class="display-6">Edit Contract Income</h1>

<Form InitialModel="InitialModel" OnCancel="Cancel" OnSubmit="Submit" />