@page "/Contracts"
@using AccountingForDentists.Components.Pages.Contract.Shared
@using AccountingForDentists.Components.Pages.Shared
@rendermode InteractiveServer
<h1 class="fw-light fs-3">Income</h1>
<hr />
<div class="container-fluid ps-0">
    <div class="row gy-2">
        <div class="col-md-4">
            <div class="d-flex flex-row gap-2">
                <div style="flex-basis:40px" class="flex-shrink-0 flex-grow-0 align-content-center">FY</div>
                <FYOptionList class="flex-grow-1" @bind-SelectedFY:get="FY" @bind-SelectedFY:set="SelectFY" />
            </div>
        </div>
        <div class="col-md-8">
            <div class="d-flex flex-row gap-2">
                <div style="flex-basis:40px" class="flex-shrink-0 flex-grow-0 align-content-center">Cinic</div>
                <OptionList class="flex-grow-1" Items="Businesses!" @bind-Selected:get="Business"
                    @bind-Selected:set="SelectBusiness" />
            </div>
        </div>
    </div>
</div>
<hr />
@if (SFAEntities is null)
{
    <div class="d-flex flex-column gap-2 pt-2 pb-2">
        <div class="p-0 container-fluid placeholder-glow">
            <div style="height:120px" class="placeholder col-12 rounded-2"></div>
        </div>
        <div class="p-0 container-fluid placeholder-glow">
            <div style="height:98px" class="placeholder col-12 rounded-2"></div>
        </div>
    </div>
}
else
{

    <div class="d-flex flex-column">
        @foreach (var item in SFAEntities)
        {
            <ContractListItem OnEditClicked="() => EditContractIncome(item)"
                OnDeleteClicked="async () => await DeleteConfirmModal.ShowModal(item)"
                OnDownloadClicked="() => DownloadInvoice(item)" Model="ContractListItemViewModelFromEntity(item)" />
            <hr />
        }
    </div>

    <div class="table-responsive"></div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center" scope="col">Sales</th>
                <th class="text-center" scope="col">Expenses</th>
                <th class="text-center" scope="col">Income</th>
            </tr>
        </thead>
        <tfoot class="table-group-divider fw-bold">
            <tr>
                <td class="text-center">$@SFAEntities.Sum(x => x.SalesEntity?.Total ?? 0).ToString("#,#0.00")</td>
                <td class="text-center">$@SFAEntities.Sum(x => x.ExpensesEntity?.Amount ?? 0).ToString("#,#0.00")</td>
                <td class="text-center">$@SFAEntities.Sum(x => (x.SalesEntity?.Amount ?? 0) - (x.ExpensesEntity?.Amount ??
                                    0)).ToString("#,#0.00")
            </td>
        </tr>
    </tfoot>
</table>
}

<button class="btn btn-primary w-100" @onclick="AddContractIncome">Add New</button>

<DeleteModal @ref="DeleteConfirmModal" OnDeleteEntity="DeleteContractIncome" />
