<EditForm Model="Model" OnSubmit="Submit" FormName="AddSFAForm" class="d-flex flex-column gap-3">
    <div>
        <label for="SalesAmount">Total Sales</label>
        <div class="input-group">
            <span class="input-group-text">$</span>
            <InputNumber id="SalesAmount" class="form-control" @bind-Value="Model!.TotalSalesAmount" />
        </div>
    </div>
    <div>
        <label for="Model.SalesGst">GST on Sales</label>
        <div class="input-group">
            <InputNumber class="form-control ps-4" @bind-Value="Model!.ServiceFeeGSTAmount" />
            <span style="z-index: 3;" class="input-group-prepend">
                <div class=" ms-3 position-absolute top-50 start-0 translate-middle ">
                    <span class="text-muted ">$</span>
                </div>
            </span>
        </div>
    </div>
    <div>
        <button class="btn btn-outline-primary" type="submit">Submit</button>
    </div>
    <div class="input-group">
        <input class="form-control border" type="search" value="search" id="example-search-input">
        <div class="ms-n4 position-absolute top-50 start-100 translate-middle ">
            <i class="text-muted bi bi-search border-0 bg-white border-start-0 border-bottom-0 border "></i>
        </div>
    </div>
</EditForm>
