@page "/BAS"
@page "/BAS/{FY:int}"
@rendermode InteractiveServer

<div class="d-flex flex-column gap-2">
    <EditForm class="d-flex flex-row gap-2" Model=@FYModel OnSubmit="ChangeFY" FormName="FY">
        <InputSelect class="form-select" @bind-value="FYModel">
            @for (int i = 2020; i <= maxFinancialYear; i++)
            {
                <option value="@i">@i</option>
            }
        </InputSelect>
        <button type="submit" value="Submit" class="btn btn-outline-dark">Go</button>
    </EditForm>
</div>
<hr />
<h1 class="display-6">FY@(FY - 2000) BAS</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Month</th>
            <th scope="col">Total Sales (G1)</th>
            <th scope="col">GST-Free Sales(G3)</th>
            <th scope="col">GST on Sales (1A)</th>
            <th scope="col">Total Purchases</th>
            <th scope="col">GST on Purchases (1B)</th>
            <th scope="col">GST Claim</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in MonthlyBAS)
        {
            <tr>
                <td>@(new DateTime(item.Key.Year, item.Key.Month, 1).ToString("yyyy-MM"))</td>
                <td>$@item.Value.Sales.ToString("0").00</td>
                <td>$@item.Value.GSTFreeSales.ToString("0").00</td>
                <td>$@item.Value.SalesGST.ToString("0").00</td>
                <td>$@item.Value.Expenses.ToString("0").00</td>
                <td>$@item.Value.ExpenseGST.ToString("0").00</td>
                <td>$@((item.Value.ExpenseGST - item.Value.SalesGST).ToString("0")).00</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th scope="row">Totals</th>
            <td>$@MonthlyBAS.Sum(x => x.Value.Sales).ToString("0").00</td>
            <td>$@MonthlyBAS.Sum(x => x.Value.GSTFreeSales).ToString("0").00</td>
            <td>$@MonthlyBAS.Sum(x => x.Value.SalesGST).ToString("0").00</td>
            <td>$@MonthlyBAS.Sum(x => x.Value.Expenses).ToString("0").00</td>
            <td>$@MonthlyBAS.Sum(x => x.Value.ExpenseGST).ToString("0").00</td>
            <td>$@(MonthlyBAS.Sum(x => x.Value.ExpenseGST - x.Value.SalesGST).ToString("0")).00</td>
        </tr>
    </tfoot>
</table>
