@page "/BAS"
@using AccountingForDentists.Components.Pages.Shared.DetailsFilter
@using AccountingForDentists.Components.Shared
@using AccountingForDentists.Infrastructure
@using Microsoft.EntityFrameworkCore
@using Microsoft.Extensions.Options

@inject IDbContextFactory<AccountingContext> contextFactory

<div class="mx-10">
    <PageTitleComponent Title="Business Activity Statement">
    </PageTitleComponent>
    <hr />
    <DetailsFilterComponent BusinessOptions="[]" FYOptions="@FYOptions" SelectedFY="@FY" SelectedBusinesses="@Business">
    </DetailsFilterComponent>

    <hr class="my-4" />
    <div class="relative overflow-x-auto bg-neutral-primary shadow-xs rounded-base border border-default rounded-md">
        <table class="w-full text-sm text-left rtl:text-right text-body rounded-md">
            <thead class="text-right text-sm text-neutral-500  bg-neutral-50 border-b border-default">
                <tr>
                    <th class="border-r border-neutral-300 text-left px-6 py-3 font-medium" scope="col">Month</th>
                    <th class="border-r border-neutral-300 px-6 py-3 font-medium" scope="col">Total Sales (G1)</th>
                    <th class="border-r border-neutral-300 px-6 py-3 font-medium" scope="col">GST-Free Sales(G3)</th>
                    <th class="border-r border-neutral-300 px-6 py-3 font-medium" scope="col">GST on Sales (1A)</th>
                    <th class="border-r border-neutral-300 px-6 py-3 font-medium" scope="col">Total Purchases</th>
                    <th class="border-r border-neutral-300 px-6 py-3 font-medium" scope="col">GST on Purchases (1B)
                    </th>
                    <th class="border-r border-neutral-300 px-6 py-3 font-medium" scope="col">GST Claim</th>

                </tr>
            </thead>
            <tbody>
                @foreach (KeyValuePair<MonthModel, BASViewModel> item in MonthlyBAS.OrderByDescending(x =>
                                x.Key.Year).ThenByDescending(x => x.Key.Month))
                {

                    <tr class="text-right even:bg-neutral-50/80 border-b border-default hover:bg-neutral-100/80">
                        <th scope="row"
                            class="border-r border-neutral-300 text-left px-6 py-4 font-medium text-heading whitespace-nowrap">
                            @(new DateTime(item.Key.Year, item.Key.Month, 1).ToString("yyyy-MM"))
                        </th>
                        <td class="border-r border-neutral-300 px-6 py-4">$@((item.Value.Sales).ToString("N0"))</td>
                        <td class="border-r border-neutral-300 px-6 py-4">$@item.Value.GSTFreeSales.ToString("N0")</td>
                        <td class="border-r border-neutral-300 px-6 py-4">$@item.Value.SalesGST.ToString("N0")</td>
                        <td class="border-r border-neutral-300 px-6 py-4">$@item.Value.Expenses.ToString("N0")</td>
                        <td class="border-r border-neutral-300 px-6 py-4">$@item.Value.ExpenseGST.ToString("N0")</td>
                        <td class="border-r border-neutral-300 px-6 py-4">$@((item.Value.ExpenseGST -
                                                    item.Value.SalesGST).ToString("N0"))</td>
                    </tr>
                }
            </tbody>
            <tfoot class="border-t-2 border-neutral-600">
                <tr class="text-right">
                    <th scope="row"
                        class="border-r border-neutral-300 text-left px-6 py-4 text-heading whitespace-nowrap font-semibold">
                        Totals
                    </th>
                    <td class="border-r border-neutral-300 px-6 py-4">$@MonthlyBAS.Sum(x =>
                                                x.Value.Sales).ToString("N0")
                    </td>
                    <td class="border-r border-neutral-300 px-6 py-4">$@MonthlyBAS.Sum(x =>
                                                x.Value.GSTFreeSales).ToString("N0")</td>
                    <td class="border-r border-neutral-300 px-6 py-4">$@MonthlyBAS.Sum(x =>
                                                x.Value.SalesGST).ToString("N0")</td>
                    <td class="border-r border-neutral-300 px-6 py-4">$@MonthlyBAS.Sum(x =>
                                                x.Value.Expenses).ToString("N0")</td>
                    <td class="border-r border-neutral-300 px-6 py-4">$@MonthlyBAS.Sum(x =>
                                                x.Value.ExpenseGST).ToString("N0")</td>
                    <td class="border-r border-neutral-300 px-6 py-4">$@(MonthlyBAS.Sum(x => x.Value.ExpenseGST -
                                                x.Value.SalesGST).ToString("N0"))
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>


</div>

@code {

    [Parameter][SupplyParameterFromQuery] public int[] FY { get => field ?? []; set; }
    [Parameter][SupplyParameterFromQuery] public string[] Business { get; set; } = [];
    int[] FYOptions { get; set; } = [];
    private Dictionary<MonthModel, BASViewModel> MonthlyBAS { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        await InitialiseFYOptions();
        await InitialiseBAS();
        await base.OnInitializedAsync();
    }

    private async Task InitialiseFYOptions()
    {
        const int numberOfFY = 10;
        var maxFY = DateTime.Now.AddMonths(6).Year;
        var minFY = maxFY - 9;
        FYOptions = new int[numberOfFY];
        for (int i = minFY, j = 0; i <= maxFY; i++, j++)
        {
            FYOptions[j] = i;
        }
        FYOptions = FYOptions.OrderByDescending(x => x).ToArray();
    }

    private async Task InitialiseBAS()
    {
        int minFY = FY.Length > 0 ? FY.Min() : DateTime.MinValue.AddYears(1).Year;
        int maxFY = FY.Length > 0 ? FY.Max() : DateTime.MaxValue.AddYears(-1).Year;
        using var context = await contextFactory.CreateDbContextAsync();

        DateOnly startDate = DateOnly.FromDateTime(new DateTime(minFY - 1, 7, 1));
        DateOnly endDate = DateOnly.FromDateTime(new DateTime(maxFY, 7, 1));

        var expenses = await context.Expenses
        .Where(x => x.DateReference.Date >= startDate
        && x.DateReference.Date < endDate)
        .Include(x => x.DateReference)
        .ToListAsync();

        var sales = await context.Sales
        .Where(x => x.DateReference.Date >= startDate
        && x.DateReference.Date < endDate)
        .Include(x => x.DateReference)
        .ToListAsync();

        ILookup<MonthModel, Models.ExpensesEntity>? monthlyExpenses = expenses.ToLookup(e => new MonthModel
        {
            Year = e.DateReference.Date.Year,
            Month =
        e.DateReference.Date.Month
        }, e => e);
        ILookup<MonthModel, Models.SalesEntity>? monthlySales = sales.ToLookup(s => new MonthModel
        {
            Year = s.DateReference.Date.Year,
            Month =
        s.DateReference.Date.Month
        }, s => s);

        List<MonthModel>? uniqueMonths = monthlyExpenses.Select(x => x.Key).Union(monthlySales.Select(x => x.Key)).ToList();

        MonthlyBAS.Clear();
        foreach (MonthModel month in uniqueMonths)
        {
            Models.ExpensesEntity[] expenseInMonth = monthlyExpenses[month].ToArray();
            Models.SalesEntity[] salesInMonth = monthlySales[month].ToArray();

            BASViewModel BAS = new()
            {
                Sales = (int)salesInMonth.Sum(x => x.Amount),
                SalesGST = (int)salesInMonth.Sum(x => x.GST),
                Expenses = (int)expenseInMonth.Sum(x => x.Amount),
                ExpenseGST = (int)expenseInMonth.Sum(x => x.GST),
                GSTFreeSales = (int)salesInMonth.Sum(CalculateGSTFreeSalesAmount)
            };

            MonthlyBAS.Add(month, BAS);
        }
    }

    private record MonthModel
    {
        public int Month { get; set; }
        public int Year { get; set; }

    }

    public class BASViewModel
    {
        public int Sales { get; set; }
        public int GSTFreeSales { get; set; }
        public int SalesGST { get; set; }
        public int Expenses { get; set; }
        public int ExpenseGST { get; set; }
    }

    private decimal CalculateGSTFreeSalesAmount(Models.SalesEntity sales)
    {
        decimal expectedGst = sales.Amount * 0.1m;
        decimal actualGst = sales.GST;
        decimal gstDelta = expectedGst - actualGst;
        if (gstDelta < 1) return 0;

        decimal salesWithGst = actualGst * 10m;
        var salesWithoutGst = sales.Amount - salesWithGst;
        if (salesWithoutGst < 0) return 0;
        return salesWithoutGst;
    }
}