@page "/Contact"
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]

<PageTitle>Contact Us</PageTitle>

<h1 class="fw-light fs-1 pb-2">Contact Us</h1>
<p>
    You can contact <a href="mailto:sahil.jain@accountingfordentists.com.au">Sahil Jain</a>
    (sahil.jain@accountingfordentists.com.au) for ideas, suggestions, and
    feedback about <a target="_blank" href="https://accountingfordentists.com.au">Accounting for Dentists</a> or the <a
        target="_blank" href="https://blog.accountingfordentists.com.au">blog</a>.


</p>