@page "/"
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]

<PageTitle>Home</PageTitle>

<div class="flex flex-col grow bg-[url('/images/b333c7d6-6172-40ba-871b-0128fdc9d2b3.png')] bg-cover bg-center">

    <div class=" grow-[0.5]"></div>
    <div class="bg-black/50 p-4">
        <h1 class="text-white text-center text-6xl font-extrabold">Accounting for Dentists</h1>
        <p class="text-white text-center mt-10">Helping dental professionals manage their accounting needs efficiently.
        </p>
    </div>
    <div class="grow"></div>
</div>