@page "/"
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]

<PageTitle>Home</PageTitle>

<h1 class="fw-light fs-1">Welcome to Accounting for Dentists</h1>

Log in or click on one of the buttons in the sidebar to get started.
