@page "/Privacy"
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]

<PageTitle>Privacy Policy</PageTitle>

<h1 class="fw-light fs-1">Privacy Policy</h1>
<p>Accounting For Dentists is committed to providing quality services to you and this policy outlines our ongoing
    obligations to you in respect of how we manage your Personal Information.</p>

<p>
    Accounting For Dentist only collects the minimally necessary information to identify you as the owner of your data.
    This is limited to knowing that you have a Microsoft login, and the unique identifier assigned to your user by
    Microsoft. Accounting For Dentists displays your name when you log in, but does not store your name, email,
    or any other identifiable information about you. All data you enter or upload on the website is encrypted
    to your user account and is not recoverable if you lose your login details.
</p>
<p>
    The information collected by Accounting For Dentists is never shared with a third party.
</p>
<p>
    You may contact us at <a href="mailto:privacy@accountingfordentists.com.au">privacy@accountingfordentists.com.au</a>
    for questions about our Privacy Policy.
</p>