@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "@iconify/tailwind4";

@plugin "daisyui" {
    themes: light --default;
}

@theme {
    --font-sans: "Noto Sans", "sans-serif";
}

h1:focus {
    outline: none;
}