@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "@iconify/tailwind4";

@plugin "daisyui" {
    themes: light --default;
}

@theme {
    --font-sans: "Noto Sans", "sans-serif";
}

h1:focus {
    outline: none;
}

.transposed-table tr {
    display: block;
    float: left;
    /* Aligns rows horizontally */
}

.transposed-table th,
.transposed-table td {
    display: block;
    /* Stacks header/data vertically within the 'row' */
    border: 1px solid #ccc;
    padding: 5px;
}

.icon-\[material-symbols--add-2-rounded\] {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 21q-.425 0-.712-.288T11 20v-7H4q-.425 0-.712-.288T3 12t.288-.712T4 11h7V4q0-.425.288-.712T12 3t.713.288T13 4v7h7q.425 0 .713.288T21 12t-.288.713T20 13h-7v7q0 .425-.288.713T12 21'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}