@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "@iconify/tailwind4";

@plugin "daisyui" {
    themes: light --default;
}

@theme {
    --font-sans: "Noto Sans", "sans-serif";
}

h1:focus {
    outline: none;
}

.transposed-table tr {
    display: block;
    float: left;
    /* Aligns rows horizontally */
}

.transposed-table th,
.transposed-table td {
    display: block;
    /* Stacks header/data vertically within the 'row' */
    border: 1px solid #ccc;
    padding: 5px;
}