@page "/SFA/Add"
@rendermode InteractiveServer
<h1 class="display-6">SFA Invoice</h1>

<EditForm id="sfa-form" Model="Model" OnSubmit="Submit" FormName="AddSFAForm" class="d-flex flex-column gap-3">
    <div class="d-flex flex-xl-row flex-column gap-2">
        <div class="border border-1 p-3 pt-1 rounded flex-grow-1">
            <h1 class="display-6 border-bottom d-flex flex-row justify-content-between">
                <div>Details </div>
            </h1>
            <div class="d-flex gap-2 flex-xl-row flex-column gap-2">
                <div class="">
                    <label for="Model.TotalSalesAmount">Invoice Date:</label>
                    <InputDate id="Model.InvoiceDate" class="form-control fs-3" @bind-Value="Model!.InvoiceDate" />
                </div>
                <div class="flex-grow-1">
                    <label for="Model.TotalSalesGST">Clinic:</label>
                    <input @bind-value="Model.ClinicName" class="form-control fs-3" list="datalistOptions"
                        id="exampleDataList" placeholder="Search for clinic...">
                    <datalist id="datalistOptions">
                        @foreach (string business in RegisteredBusinessNames)
                        {
                            <option value="@business" />
                        }
                    </datalist>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-xl-row flex-column gap-2">
        <div class="border border-1 p-3 pt-1 rounded">
            <h1 class="display-6 border-bottom d-flex flex-row justify-content-between">
                <div>Sales </div>
                <div>$ @((Model.TotalSalesAmount + Model.TotalSalesGSTAmount).ToString("0.00"))</div>
            </h1>
            <div class="d-flex flex-row gap-2">
                <div class="flex-grow-1">
                    <label for="Model.TotalSalesAmount">Amount:</label>
                    <div class="fs-3 input-group">
                        <InputNumber id="Model.TotalSalesAmount" class="form-control ps-5 fs-3"
                            @bind-Value="Model!.TotalSalesAmount" />
                        <span style="z-index: 3;" class="input-group-prepend">
                            <div class=" ms-4 position-absolute top-50 start-0 translate-middle ">
                                <span class="text-muted ">$</span>
                            </div>
                        </span>
                    </div>
                </div>
                <div class="flex-grow-1">
                    <label for="Model.TotalSalesGST">GST:</label>
                    <div class="fs-3 input-group">
                        <InputNumber class="form-control ps-5 fs-3" @bind-Value="Model!.TotalSalesGSTAmount" />
                        <span style="z-index: 3;" class="input-group-prepend">
                            <div class=" ms-4 position-absolute top-50 start-0 translate-middle ">
                                <span class="text-muted ">$</span>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="border border-1 p-3 pt-1 rounded">
            <h1 class="display-6 border-bottom d-flex flex-row justify-content-between">
                <div>Expenses</div>
                <div>$ @(
                                        (Model.TotalExpensesAmount +
                                        Model.TotalExpensesGSTAmount).ToString("0.00")
                                        )</div>
            </h1>
            <div class="d-flex flex-row gap-2">
                <div class="flex-grow-1">
                    <label for="Model.ServiceFee">Expenses:</label>
                    <div class="fs-3 input-group">
                        <InputNumber class="form-control ps-5 fs-3" @bind-Value="Model!.TotalExpensesAmount" />
                        <span style="z-index: 3;" class="input-group-prepend">
                            <div class=" ms-4 position-absolute top-50 start-0 translate-middle ">
                                <span class="text-muted ">$</span>
                            </div>
                        </span>
                    </div>
                </div>
                <div class="flex-grow-1">
                    <label for="Model.ServiceFeeGST">GST:</label>
                    <div class="fs-3 input-group">
                        <InputNumber class="form-control ps-5 fs-3" @bind-Value="Model!.TotalExpensesGSTAmount" />
                        <span style="z-index: 3;" class="input-group-prepend">
                            <div class=" ms-4 position-absolute top-50 start-0 translate-middle ">
                                <span class="text-muted ">$</span>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</EditForm>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Payment</th>
            <th scope="col">GST</th>
            <th scope="col">Total Income</th>
            <th scope="col">%</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>$@Model.IncomeAmount</td>
            <td>$@Model.IncomeGST</td>
            <td>$@Model.TotalIncome</td>
            <td>@(((Model.TotalSalesAmount != 0 ? Model.TotalIncome / Model.TotalSalesAmount : 0) *
                                100).ToString("0.0"))</td>
        </tr>
    </tbody>
</table>

<div>
    <button class="w-100 btn btn-primary btn-block" form="sfa-form" type="submit">Save</button>
</div>