@page "/Sales/Add"
@rendermode InteractiveServer
@using AccountingForDentists.Components.Pages.Sales.Shared

<PageTitle>Add New Sale</PageTitle>
<h1 class="fw-light fs-3">Add New Sale</h1>

<Form OnCancel="Cancel" OnSubmit="Submit"></Form>
