@page "/Sales/Edit/{EntityGuidString}"
@rendermode InteractiveServer

@using AccountingForDentists.Components.Pages.Sales.Shared
<Form InitialModel="@Initial" OnCancel="Cancel" OnSubmit="Submit"></Form>

@code {

}