@page "/Sales"
@using AccountingForDentists.Components.Pages.Shared.DetailsFilter


<PageTitle>Sales</PageTitle>

<form>
    <input class="input" />
</form>
<div class="mx-10">
    <h1 class="font-bold text-4xl pt-5 pb-5">Sales</h1>
    <hr />
    <DetailsFilterComponent BusinessOptions="@(new string[] { "Business A", "Business B" })"
        FYOptions="new int[] { 2025, 2026 }" SelectedFY="@FY" SelectedBusinesses="@Business">

    </DetailsFilterComponent>
</div>

@code {
    [Parameter][SupplyParameterFromQuery] public int[] FY { get => field ?? []; set; }
    [Parameter][SupplyParameterFromQuery] public string[] Business { get; set; } = [];

}