@page "/Sales/Post/Delete/{EntityId:guid}"
@using AccountingForDentists.Infrastructure
@using AccountingForDentists.Models
@using Microsoft.EntityFrameworkCore
@using System.Security.Cryptography

<form @formname="delete-sale-form" method="post" @onsubmit="HandleSubmit"></form>
@inject NavigationManager NavigationManager;
@inject IDbContextFactory<AccountingContext> contextFactory
@inject TenantProvider tenantProvider


@code {
    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }

    [Parameter]
    public Guid EntityId { get; set; }


    private async Task HandleSubmit()
    {
        if (HttpContext?.Request.Method != HttpMethod.Post.Method)
        {
            NavigationManager.NavigateTo($"/Sales/Delete/${EntityId}");
            return;
        }

        using var context = await contextFactory.CreateDbContextAsync();
        var salesEntity = await context.Sales
        .Where(x => x.SalesId == EntityId)
        .Include(e => e.Attachment)
        .Include(e => e.DateReference)
        .FirstOrDefaultAsync();

        if (salesEntity is null)
        {
            NavigationManager.NavigateTo($"/Sales/Delete/${EntityId}");
            return;
        }

        context.Sales.Remove(salesEntity);

        try
        {
            await context.SaveChangesAsync();
        }
        catch (Exception e)
        {
            // Log the error (uncomment ex variable name and write a log.)
            NavigationManager.NavigateTo($"/Sales/Delete/{EntityId}?error=true");
            return;
        }
        NavigationManager.NavigateTo($"/Sales", forceLoad: true);
    }




}