@using AccountingForDentists.Components.Shared
<DataListLayout>
    <Header>@Model.InvoiceDate.ToString("dd/MM/yyyy")</Header>
    <SecondaryHeader>@Model.BusinessName 
        @if (!string.IsNullOrWhiteSpace(Model.Description))
        {   
            <span> - </span> <span class="fw-lighter">@Model.Description</span>
        }
    </SecondaryHeader>
    <PrimaryValue>
        $@Model.AmountExclGst.ToString("#,##0.00")
    </PrimaryValue>
        <ButtonBar>
        <button class="btn btn-outline-dark"
            @onclick="() => { if (OnEditClicked.HasDelegate) OnEditClicked.InvokeAsync(); }">
            <i class="bi bi-pencil"></i>
        </button>
        <button class="btn btn-outline-dark"
            @onclick="() => { if (OnDeleteClicked.HasDelegate) OnDeleteClicked.InvokeAsync(); }">
            <i class="bi bi-trash"></i>
        </button>
        @if (Model.ShowAttachmentButton)
        {
            <button class="btn btn-outline-dark"
                @onclick="() => { if (OnDownloadClicked.HasDelegate) OnDownloadClicked.InvokeAsync(); }">
                <i class="bi bi-file-earmark-text"></i>
            </button>
        }
    </ButtonBar>
</DataListLayout>

@code {
    [Parameter]
    [EditorRequired]
    public required ExpensesListItemViewModel Model { get; set; }

    [Parameter]
    public EventCallback OnEditClicked { get; set; }
    [Parameter]
    public EventCallback OnDeleteClicked { get; set; }
    [Parameter]
    public EventCallback OnDownloadClicked { get; set; }

    public class ExpensesListItemViewModel
    {
        public DateOnly InvoiceDate { get; set; }
        public decimal AmountExclGst { get; set; }
        public decimal Gst { get; set; }
        public decimal Total { get; set; }
        public string BusinessName { get; set; } = string.Empty;
        public string Description { get; set; } = string.Empty;
        public bool ShowAttachmentButton { get; set; } = false;
    }

}